@use "sass:math";

html {
	font-size: 62.5%;
}

.App {
	width: 100vw;
}

body {
	max-height: 100vh;
	background-color: #8e9ea7;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 0;
	font-family: "Segoe UI", "Helvetica Neue";
}

.wrapper {
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}

header {
	background-color: #002442;
	color: white;
	padding: 1.5% 0;
	width: 100%;

	h1 {
		font-size: 4.4rem;
		margin: 0;
	}

	p {
		font-size: 1.6rem;
	}
}

form {
	margin-top: 1%;

	input[type="text"] {
		margin-right: 1.5rem;
		width: 18rem;
		font-size: 1.4rem;
	}

	button:hover,
	button:focus {
		background-color: #002442;
		color: white;
	}
}

button {
	font-size: 1.4rem;
	border-radius: 0.5rem;
}

button:hover {
	cursor: pointer;
}

.subHeading,
.results {
	margin: 1% 0;
}

.results,
.randomResults {
	.cardContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.weatherCard {
		background-color: #002442;
		color: white;
		padding: 1% 7.5%;

		h2 {
			font-size: 3.2rem;
			margin-right: 1rem;
		}

		button:hover,
		button:focus {
			background-color: #002442;
			color: white;
		}
	}

	.cardHeader {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.data {
		display: flex;
		justify-content: space-evenly;
		font-size: 1.6rem;
	}

	.leftColumn {
		width: 40%;
	}
	.rightColumn {
		width: 50%;
	}
}

.results {
	.forecast {
		display: flex;
		justify-content: space-evenly;
		padding: 2.5% 0;
	}
}

.ReactModal__Body--open {
	width: 100%;
	height: 100%;
	display: flex;
}

.hourlyForecastContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 2.5%;

	.hourlyCard {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 17rem;
		margin-bottom: 1.5%;
		margin-right: 1.5%;
		background-color: #002442;

		h2,
		p {
			font-size: 1.2rem;
		}

		.hourlyCardHeader {
			display: flex;
		}
	}
}

.hourlyModal {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #8e9ea7;
	color: white;
	max-height: 100vh;
	overflow-y: auto;

	h1 {
		padding-bottom: 1.5%;
	}

	.closeModal {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}

.threeDayForecastContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 2.5%;

	.threeDayCard {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 2.5rem;
		background-color: #002442;

		h2,
		p {
			font-size: 1.8rem;
		}

		.hourlyCardHeader {
			display: flex;
		}
	}
}

.threeDayModal {
	display: flex;
	flex-direction: column;
	background-color: #8e9ea7;
	color: white;
	max-height: 100vh;
	overflow-y: auto;

	h1 {
		padding-bottom: 1.5%;
	}

	.closeModal {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}

.randomCardContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: top;
}

.randomWeatherCard {
	width: 30%;
	max-height: 300px;
	margin: 0 1%;
	padding: 1%;
	background-color: #002442;
	color: white;
	text-align: center;

	h2 {
		font-size: 1.8rem;
		margin: 5% 0;
	}

	img {
		width: 30%;
	}

	p {
		margin: 3% 0;
		bottom: 0;
	}

	.randomData {
		margin-top: 10%;
		font-size: 1.4rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

footer {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 1% 0;

	.footerContent {
		width: 30rem;
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 800px) {
	form {
		margin-top: 5%;
	}
	.subHeading {
		margin: 3% 0;
	}

	.weatherCard {
		padding: 1% 5%;
	}

	.randomCardContainer {
		flex-direction: column;
		align-items: center;
	}
	.randomWeatherCard {
		width: 40%;
		margin-bottom: 5%;
	}

	.randomData {
		margin-top: 0;
	}
}

@media screen and (max-width: 700px) {
	.threeDayForecastContainer {
		.threeDayCard {
			margin-bottom: 1.5rem;
			padding: 1rem 1.5rem;

			h2,
			p {
				margin: 0.25rem 0;
				font-size: 1.6rem;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.hourlyForecastContainer {
		.hourlyCard {
			width: 10rem;
		}

		img {
			height: 3.2rem;
			width: 3.2rem;
		}
	}
}

@media screen and (max-width: 450px) {
	.threeDayForecastContainer {
		flex-direction: column;
		align-content: center;

		.threeDayCard {
			margin-bottom: 1.5rem;
			padding: 1rem 2.5rem;

			h2,
			p {
				margin: 0.25rem 0;
				font-size: 1.4rem;
			}
		}
	}

	.randomWeatherCard {
		width: 60%;
	}
}

@media screen and (max-width: 350px) {
	.cardContainer {
		width: 90%;
	}
	.randomWeatherCard {
		width: 70%;
	}
}

@media screen and (max-width: 300px) {
	input[type="text"] {
		width: 14rem;
	}
}

@media screen and (min-height: 1024px) {
	form,
	.subHeading,
	footer {
		margin: 2.5% 0;
	}
}
